@charset "utf-8";
/* CSS Document */
body,img{margin:0 auto;border:none; background:#FFFFFF;}
a{ text-decoration:none;font-family:微软雅黑;}


.top{width:100%;height:145px;}
  .top .a{width:100%;height:15px; background:#009494;}
  .top .b{margin:0 auto;width:1080px;height:80px;}
     .logo{float:left;width:257px;height:79px}
     .name{float:right;margin-top:26px;height:28px;width:382px;}
     .top .c{width:100%;height:50px;border-top:1px solid #009494;border-bottom:1px solid #f3f3f3;}
     .c-1{padding:0 auto;width:854px;height:50px;margin:0 auto;}
     .c-1 a{font-size:16px;color:#009494;text-align:center;line-height:50px;text-decoration:none;
margin-left:20px;padding:15px;}
     .c-1 a:hover{color:#fff; background:#009494;}
   


.nav{width:100%;height:745px; background:#f3f3f3;}
   .background{width:100%;height:23px; background-image:url(images/6.png)}
   .d{margin:0 auto;width:1092px;height:722px;}
   .d .d-0{float:left; width:6px;height:722px; }
   .d .d-1{float:left; width:1080px; height:722px;}
   .e{float:left; background:#FFFFFF; width:255px; height:722px;
      border-left:1px solid #f3f3f3;border-right:1px solid #f3f3f3;}
      .e-1{width:257px; height:71px;}
      .e-2{margin-top:8px;width:255px; height:235px;}
      .e-2 a{ display:inline-block;height:36px;padding-left:21px;padding-right:169px; 
	        line-height:36px;color:#626262; border-bottom:1px solid #e6e6e6;}
      .e-2 a:hover{color:#fff;background:#009494;}
	  .news a{margin-left:14px;color:#949494;font-size:14px;padding-left:11px;padding-right:154px;
	          border-bottom:1px dotted #e8e8e8;}
   
      .e-3{width:257px; height:225px;margin-top:10px;}
      .e-3 a{ padding-left:7px;height:45px;color:#626262;font-size:14px;line-height:45px;}
      .e-3 a:hover{color:#009494;}
   
   .f{float:left;background:#FFFFFF; width:823px; height:722px;}
     .f-0{width:816px;height:41px;margin-top:7px;margin-left:17px; background:#efefef;}
     .f-0 a{margin-left:10px;color:#575757; line-height:41px;}
   .f-1{width:823px; height:610px;margin-left:17px;margin-top:10px;}
     .g{float:left;width:255px;height:255px; }
     .g a{display:inline-block;width:238px;font-size:12px;color:#818181; line-height:20px;padding-left:8px;}
	  .g a:hover{color:#009494;}
   .f-2{margin-left:380px;width:420px; height:40px;color:#575757;}
        .f-2 span{float:left;color:#575757; font-family:宋体;}
     .f-2 a{float:left;color:#575757; font-family:宋体;}
	 .f-2 a:hover{color:#009494;}
 
 
.bottom{width:100%;height:110px; background:#009494;}
.bottom-1{width:500px;height:60px;margin:0 auto;text-align:center;padding:20px;}
.bottom-1 em{text-align:center;color:#fff; font-size:12px;font-style:normal;border:0;line-height:20px;}
.bottom-1 a{
text-decoration:none;color:#fff; font-size:12px;
}
 

 
















