body,ul,h1,h3,a,span,li,em,p{
margin:0;padding:0;font-style:normal;list-style:none;line-height:normal;
}
img{border:0;}
/**/

/**/
.jun{background:#f3f3f3;height:2300px;}
.top{height:168px;background:#fff;}
.top-1{
width:100%;height:14px;background:#009494;
}
.bb{
width:100%;height:79px;border-bottom:1px solid #009494;
}
.top-2{
width:1082px;height:79px;margin-left:120px;
}
.img{float:left;}
/**/
.res{
width:382px;height:32px;margin-left:430px;margin-top:25px;float:left;
}
/**/
.top-3{
width:1082px;height:52px;margin-left:120px;
}
.top-3 a{
font-size:16px;color:#009494;text-align:center;line-height:52px;text-decoration:none;
margin-left:40px;padding:18px;
}
.top-3 a:hover{background:#009494;color:#fff;}

.top-4{
width:100%;height:23px;
background:url(../images/8.jpg) repeat-x;
}
/*new*/
.new{
width:1082px;height:2023px;background:#fff;margin-left:130px;
}
.nn{
width:1044px;height:1993px;margin-left:20px;
}
/**/
.new-1{
width:1044px;height:830px;
}
.left{
width:710px;height:830px;float:left;
}
.title{
width:710px;height:57px;border-bottom:1px solid #009494;
}
.title-1{
width:500px;height:57px;float:left;
}
.title-1 span{
font-size:16px;color:#595959;float:left;font-family:풕턼환쥌;
margin-left:20px;line-height:57px;
}
.title-1 a{
text-decoration:none;font-size:16px;float:left;border:0;color:#009494;line-height:57px;
font-family:풕턼환쥌;
}
.title-2{
width:105px;height:57px;float:left;margin-left:101px;
}
.title-2 a,span{color:#595959;font-size:16px;text-decoration:none;line-height:57px;font-family:풕턼환쥌;
}
.aa{
width:710px;height:742px;
}
/*aa*/
.aa span{
font-size:20px;color:#595959;margin-top:10px;display:inline-block;margin-left:120px;
font-family:풕턼환쥌;
}
.aa ul{
font-size:14px;color:#595959;display:inline-block;margin-left:200px;
font-family:풕턼환쥌;
}
.aa p{
font-size:14px;color:#595959;text-indent:2em;display:inline-block;margin-top:10px;
line-height:20px;
font-family:풻稻
}
.zz{
width:498px;height:338px;margin-left:100px;margin-top:20px;}







.right{
width:320px;height:830px;float:left;margin-left:10px;
}
.right-1{
height:406px;
}
.right-1 img{
margin-top:42px;float:left;
}
.right-1-1{
width:100%;height:54px;border-bottom:1px dotted #ccc;float:left;
}
.right-1-1 em{
font-size:18px;color:#009494;margin-left:20px;line-height:54px;font-style:normal;font-family:풕턼환쥌;
}
.right-1-1 span{
font-size:14px;color:#595959;margin-left:20px;line-height:54px;font-family:풕턼환쥌;
}
.right-1-1 a{
text-decoration:none;font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-1-2{
width:100%;height:54px;border-bottom:1px dotted #ccc;float:left;
}
.right-1-2 em{
font-size:18px;color:#595959;margin-left:20px;line-height:54px;font-style:normal;font-family:풕턼환쥌;
}
.right-1-2 span{
font-size:14px;color:#595959;margin-left:20px;line-height:54px;font-family:풕턼환쥌;
}
.right-1-2 a{
text-decoration:none;font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-1-3{
width:100%;height:54px;float:left;
}
.right-1-3 em{
font-size:18px;color:#595959;margin-left:20px;line-height:54px;font-style:normal;font-family:풕턼환쥌;
}
.right-1-3 span{
font-size:14px;color:#595959;margin-left:20px;line-height:54px;font-family:풕턼환쥌;
}
.right-1-3 a{
text-decoration:none;font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-2{
height:420px;width:100%;
}
.right-2 img{
margin-top:20px;
}
.right-2-1{
height:54px;width:100%;margin-top:5px;border-bottom:1px dotted #ccc;
}
.right-2-1 ul li{
list-style-type:circle;list-style-position:inside;margin-left:25px;margin-right:2px;
font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-2-1 li a{
text-decoration:none;font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-2-2{
height:54px;width:100%;margin-top:5px;
}
.right-2-2 ul li{
list-style-type:circle;list-style-position:inside;margin-left:25px;margin-right:2px;
font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
.right-2-2 li a{
text-decoration:none;font-size:14px;color:#595959;line-height:54px;font-family:풕턼환쥌;
}
/**/
.ss{
width:100%;height:200px;float:left;
}
.ss em{
font-size:14px;color:#595959;text-indent:2em;display:inline-block;margin-top:10px;
line-height:20px;
font-family:풻稻
}
.ss-1{
width:100%;height:81px;float:left;
}
.ss-2{
width:150px;height:57px;float:left;margin-left:630px;margin-top:10px;float:left;
}
.ss-2 a,span{color:#595959;font-size:14px;text-decoration:none;
font-family:풕턼환쥌;
}
.ss-3{
width:100%;height:50px;float:left;
}
.ss-3 a{
text-decoration:none;font-size:14px;color:#595959;line-height:25px;
font-family:풕턼환쥌;
}
/**/
.hh{
width:730px;height:947px;border-left:1px solid #ccc;border-right:1px solid #ccc;float:left;
margin-top:14px;
}
.hh-1{
width:100%;height:10px;background:url(../images/10.jpg) repeat-x;
}
.hh-2{
width:100%;height:183px;
}
.hh-2 img{
border:1px solid #ccc;margin-top:15px;margin-left:50px;float:left;
}
.kk{
width:169px;height:90px;float:left;margin-top:15px;margin-left:10px;
}
.kk span{
font-size:14px;line-height:45px;
}
.kk-1{
width:169px;height:50px;float:right;
}
.kk-1-1{
margin-top:25px;
width:28px;height:28px;background-image:url(../images/3.jpg);float:left;
}
.kk-1 a{
margin-top:25px;color:#595959;
text-decoration:none;font-size:14px;float:left;
}
.kk-1-2{
margin-top:25px;
width:28px;height:28px;background-image:url(../images/4.jpg);float:left;
}
.kk-2{
width:100%;height:54px;float:left;margin-top:10px;margin-left:10px;
}
.kk-2-1{
width:133px;height:56px;background:#009494;float:left;
}
.kk-2-1 span{
font-size:16px;color:#fff;margin-left:50px;
}
.kk-2-1 a{
text-decoration:none;font-size:16px;color:#fff;
}
.kk-3{
width:682px;height:51px;border-bottom:1px solid #ccc;float:left;margin-left:20px;
}
.kk-3 span{
font-size:14px;color:#595959;margin-left:5px;font-family:풕턼환쥌;
}
.kk-4{
width:100%;height:122px;float:left;
}
.kk-4-1{
width:500px;height:90px;float:left;margin-left:10px;margin-top:20px;
}
.kk-4-1 span{
font-size:14px;color:#595959;line-height:45px;float:left;
}
.kk-4-2{
width:28px;height:28px;float:left;margin-left:30px;margin-top:10px;
background-image:url(../images/4.jpg);
}
.kk-5{
width:646px;height:45px;background:#f3f3f3;
margin-left:50px;float:left;
}
.kk-5 a{
text-decoration:none;font-size:#ccc;margin-left:300px;line-height:45px;
color:#595959;font-family:풕턼환쥌;
letter-spacing:5px;
}

/*bottom*/
.bottom{
width:100%;height:109px;background:#009494;
}
.bottom-1{width:500px;height:60px;margin:0 auto;text-align:center;padding:20px;}
.bottom-1 em{text-align:center;color:#fff; font-size:12px;font-style:normal;border:0;line-height:20px;}
.bottom-1 a{
text-decoration:none;color:#fff; font-size:12px;
}
 
