.content{
height:900px;width:1076px;margin:0 auto;
}
body{
background:#f3f3f3;
font-family:Î¢ÈíÑÅºÚ;
}
ul,li{
list-style:none;margin:0px;padding:0px;
}
a{
text-decoration:none;
}

.content-left{
width:254px;height:380px;background:#fff;float:left;margin-top:20px;
}
.content-left a{
color:#888989;line-height:33px;display:inline-block;width:234;height:33px;padding-left:20px;
}
.content-left a:hover{
color:#fff;background:#009494;
}

.content-left li{
border-bottom:1px solid #ccc;height:33px;
}
.content-right{
width:760px;height:840px;background:#fff;float:right;margin-top:20px;padding:20px;
}
.content-right h3{
margin:10px 40px;padding:0px;color:#575757;
}
.box{
margin:25px;float:left;
}
hr{
color:#fafafa;
}
.right-a{
overflow:hidden;height:800px;
}
.right-b{
overflow:hidden;text-align:right;line-height:35px;color:#575757;
}
.right-b a{
color:#575757;
}
.right-b input{
width:20px;
}
